*,
*::before,
*::after {
  box-sizing: border-box;
}

/* SASS Variables */
$background-color: #ffeba5;
$peachy-color: #fbcb8c;
//#FFDAB9 #fff255 #fff5d1
$border-color: #c3c3c3;
$code-color: rgba(237, 237, 237, 0.7);
$text-color: #333;
$a11y-gray: #757575;
$link-color: #104f9c;
$link-hover-color: #0e2e57;
$link-visited: #3d536c;
$font-size-normal: 1.25rem;
$page-width: 800px;

/* SASS as CSS Variables so we can use them for dark mode */
:root {
  --color-background: #{$background-color};
  --color-peachy: #{$peachy-color};
  --color-text: #{$text-color};
  --color-code: #{$code-color};
  --color-link: #{$link-color};
  --color-hover: #{$link-hover-color};
  --color-visited: #{$link-visited};
}

body {
    margin: 0;
    background: var(--color-background);
    animation: color-change 120s infinite;
    color: var(--color-text);
    font-size: $font-size-normal;
    line-height: 1.6rem;
}

.section {
  max-width: $page-width;
  margin: auto;
  padding: 1.5em 1.5em 3em 1.5em;
}

.top {
  text-align: center;
  padding-top: 20px;

  a {
    text-decoration: none;
  }


}

.italic {
  font-style: italic;
}

.title_link {
  //text-decoration: none;
}

.title_link:hover {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;

}

ul  {
    padding: 0;
    // margin-top: -16px;
}

.sum {
  //font-style: italic;
}

code, pre {
      border-radius: .25rem;
      background-color: var(--color-code);
      padding:.3rem .2rem;
      max-width: 100%;
      overflow:auto

}

.nav {
  margin-top: -6px;
  ul {
      margin: 0;
      list-style: none;
      //padding: 1.5em 1.5em 0 1.5em;
      text-align: right;
  li {

    padding-bottom: 9px;
  //margin-right: 10px;
  //padding-right: 10px;
  }


      a {
        text-decoration: none;
        color: var(--color-text);
      }
      a:hover {
        color: var(--color-hover);
        text-decoration: underline;

      }
      a .active {
        font-weight: bold;
        color: var(--color-hover);
      }

  }
}

.footernav {
  margin-top: 50px;
  padding-top: 20px;
  border-top: dotted 1px;
  ul {
      margin: 0;
      list-style: none;
      //padding: 1.5em 1.5em 0 1.5em;
      text-align: center;

  li {
    padding-bottom: 9px;
  }
      a {
        text-decoration: none;
        color: var(--color-text);
      }
      a:hover {
        color: var(--color-hover);
        text-decoration: underline;

      }
      a .active {
        font-weight: bold;
        color: var(--color-hover);

      }

  }
}


a {
  //text-decoration: none;
  color: var(--color-link);
}
a:hover, a:hover:visited {
  color: var(--color-hover);
  text-decoration: none;
}

a:visited {
  color: var(--color-visited);

}

// hier unten und oben noch verbessern, schauen auch andere themes! vor allem ob active in base auch so gemacht wird.

h1 {
  font-weight: normal;
  font-size: 3.75rem;
  line-height: 3.75rem;
  margin-bottom: 0px;
}

h2 {
  font-weight: normal;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 0px;
}

h3 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0px;
}

figure {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  .imgset {
    width: 500px;
    height: auto;
    max-width: 100%;
  }
}

.copyright {
  text-align: center;
}

.post-dates {
  font-style: italic;
}

.post-updated {
  font-weight: bold;
  font-style: normal;
}
.divider {
  font-style: normal;
}

.logo {
  height: 172.5px;
  width: 83.95px;
  position: relative;
  //padding: 10px;
  filter: invert(14%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(95%) contrast(81%) opacity(1);
  animation: flicker 9s linear infinite;
  //animation: spin-it 25s linear 1;
  animation-delay: 2s;
}

.logo:hover {
  animation: spin-it 5s linear infinite;
}
// für dark mode einfach filter: invert(1); machen bei .logo

@keyframes spin-it {
  0%, 10%, 10.7%, 25%, 25.6%, 30%, 30.7%, 40%, 40.6%, 80%, 80.6% {
  transform: translate(0px, 0px); }
  25.1%, 25.3% {
  transform:  translate(5px, 0px);}
  10.1%, 10.4%, 80.1%, 80.5% {
  transform: translate(-8px, 0.3px); }
  30.1%, 30.4%, 40.1%, 40.3% {
  transform: translate(-4px, 0px); }
}

@keyframes flicker {
  0%, 10%, 10.7%, 25%, 25.6%, 30%, 30.7%, 40%, 40.6%, 80%, 80.6% {
  transform: translate(0px, 0px); }
  25.1%, 25.3% {
  transform:  translate(2px, 0px);}
  10.1%, 10.4%, 80.1%, 80.5% {
  transform: translate(-0.3px, 0.4px); }
  30.1%, 30.4%, 40.1%, 40.3% {
  transform: translate(-1px, 0px); }
}

      @keyframes color-change {
        0% { background-color: var(--color-background); }
        50% { background-color: var(--color-peachy); }
        100% { background-color: var(--color-background); }
      }


@media (min-width: 340px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

}

      @media (min-width: 600px) {
        header {
          display: flex;
          justify-content: space-between;

        }
        .footernav {
          ul {
            display: flex;
            justify-content: space-between;
          }
        }


        .nav {

          ul {
              display: flex;

          li + li:before {
              content: "|";
              //padding: 0 10px;
            padding: 0 10px;
        }

          }
        }
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --color-background: #212121;
          --color-peachy: #151515;
          --color-text: #e3e3e3;
          --color-code: #333;
          --color-link: #9ed69f;
          --color-hover: #{$border-color};
          --color-visited: #93b695;
        }

        .logo {

          filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(98%) contrast(81%) opacity(1);

        }

      }
