*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Variables */
$background-color: #f0e56b;
$peachy-color: #fbcb8c;
//#FFDAB9 #fff255
$border-color: #c3c3c3;

$text-color: #333;

$a11y-gray: #757575;

$link-color: #0f4280;
$link-hover-color: #0e2e57;
$link-visited: #7c7c7c;

$font-size-normal: 1.25rem;

$page-width: 800px;

body {
    margin: 0;
    background: $background-color;
    animation: color-change 120s infinite;
    color: $text-color;
    font-size: $font-size-normal;
    line-height: 1.6rem;
}

.section {
  max-width: $page-width;
  margin: auto;
  padding: 1.5em 1.5em 3em 1.5em;
}


header {
  display: flex;
  justify-content: space-between;

}

.nav {
  margin-top: -6px;
  ul {
      margin: 0;
      list-style: none;
      //padding: 1.5em 1.5em 0 1.5em;
      text-align: right;
  li {

    padding-bottom: 9px;
  //margin-right: 10px;
  //padding-right: 10px;
  }

  li + li:before {




}

      a {
        text-decoration: none;
        color: $text-color;
      }
      a:hover {
        color: $link-hover-color;

      }

  }
}

a .active {
  font-weight: bold;
  color: $link-hover-color;
}

a {
  //text-decoration: none;
  color: $link-color;
}
a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

a:visited {
  color: $link-visited;

}

// hier unten und oben noch verbessern, schauen auch andere themes! vor allem ob active in base auch so gemacht wird.

h1 {
  font-weight: normal;
  font-size: 3.75rem;
  line-height: 3.75rem;
  margin-bottom: 0px;
}

h2 {
  font-weight: normal;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 0px;
}

h3 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0px;
}

figure {
  text-align: center;
}

.post-dates {
  font-style: italic;
}

.post-updated {
  font-weight: bold;
  font-style: normal;
}
.divider {
  font-style: normal;
}

.logo {
  height: 172.5px;
  width: 83.95px;
  position: relative;
  //padding: 10px;
  filter: invert(14%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(95%) contrast(81%);
}
// für dark mode einfach filter: invert(1); machen bei .logo





      @keyframes color-change {
        0% { background-color: $background-color; }
        50% { background-color: $peachy-color; }
        100% { background-color: $background-color; }
      }
@media (min-width: 340px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

}

      @media (min-width: 600px) {
        header {

          display: flex;
          justify-content: space-between;

        }

        .nav {

          ul {
              display: flex;
          li {

          }

          li + li:before {
              content: "|";
              //padding: 0 10px;
            padding: 0 10px;
        }

              a {
                text-decoration: none;
                color: $text-color;
              }
              a:hover {
                color: $link-hover-color;

              }

          }
        }
      }
