{% extends "index.html" %}

{% block content %}
<article class="post">
    <header>
        <h1>404: Page not found</h1>
    </header>
    <p>
        The thing or page you're looking for cannot be found!
        Have some 404 Nils Mango Zeichen art instead:
    </p>
    <pre>
                                             __
                                            /  /\
        __          __                     /  / /
       /\  \       |  |                   /  / /
   __  \ \  \      |  |         __       /  / /
 /\  \  \ \  \     |  |        |  |     /  / /
 \ \  \  \ \__\    |  |   __   |  |    /__/ /   __
  \ \  /\/ /  /    |  |__|  |__|  |    \  \ \/\  /\
   \ \ \  /__/     |_____   ______|     \__\  / / /
    \ \/  \  \           |  |           /  /  \/ /
     \  /\ \  \          |  |          /  / /\  /
      \/__\ \  \         |  |         /  / /__\/
           \ \  \        |  |        /  / /
            \ \__\       |  |       /__/ /
             \/__/        --        \__\/

                         404
                 404 404 404 404 404
    </pre>
</article>
{% endblock content %}
