<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ config.title }} - {{ config.description }}{% endblock title %}</title>
  <!-- My CSS -->
  <link rel="stylesheet" href="{{ config.base_url }}/style.css">
</head>

<body>
  <section class="section">
    <div class="container">
      {% block header %}

    <header>
            <a href="{{ config.base_url }}"><img src="/zeichen73x150.svg" alt="{{ config.title }} Zeichen" class="logo"></a>

        <nav class="nav">
            <ul class="nav-list">
            {% block nav_bar %}
            {% for subsec in config.extra.menu_items %}
                {% set link_url = subsec.url %}
                <li class="nav-item"><a {% if current_url and current_url is starting_with(link_url) %}class="active"{% endif %} href="{{ link_url }}">{{ subsec.name }}</a></li>
            {% endfor %}

            {% endblock nav_bar %}
            </ul>
        </nav>
    </header>
    {% endblock header %}
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
