{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}
{% block content %}
<h1 class="title">
  Articles
</h1>
<p>View by tags <a href="/tags">⇢</a></p>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->

  {% set subsec_path = "_index.md" %}
  {% set subsec_section = get_section(path=subsec_path) %}
  {% set subsec_section_pages = subsec_section.pages %}
 {% for year, posts in subsec_section_pages | group_by(attribute="year") %}
     <h2>{{ year }}</h2>
    <ul>
      {% for post in posts | filter(attribute="taxonomies.categories") %}
 <li><a class="title_link" href="{{ post.permalink | safe }}">
          <h3 class="underline_h">{{ post.title }}</h3>
          <div class="sum">

            {%- if post.summary %}
              {{ post.summary | markdown(inline=true) | safe }} ...
            {%- elif post.description %}
              {{ post.description | safe }}  ...
            {%- elif post.content %}
              {{ post.content | striptags | truncate(length=64) | safe }}
            {%- endif %}


            </div></a></li>
      {% endfor %}
    </ul>




 {% endfor %}



{% endblock content %}
