{% extends "base.html" %}

{% block content %}
<h1 class="eliminating">
  Creating things & eliminating errors.
</h1>
<p>Hi, my name is Nils Mango and I am trying to create things and eliminate errors.</p>
<h2>Latest articles</h2>

<ul class="posts">
  {% for page in section.pages | filter(attribute="taxonomies.categories") | slice(end=3)%}

  <li class="nobullets">
      <a href="{{ page.permalink | safe }}">
      <h3>{{ page.title }}</h3>
      </a>
        <div class="article-info">
          {% if page.date %}
          {% set reading_time = "page.reading_time" %}
        <time datetime="{{ page.date | date(format="%+") }}">{{ page.date | date(format="%B %d, %Y") }}</time> · {{ page.reading_time }} min
{% endif %}
        {% if page.taxonomies.tags %}
·
                {% for tag in page.taxonomies.tags %}
                  <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a>
                {% endfor %}
{% endif %}
              </div>

        <div class="sum">
          {%- if page.summary %}
            {{ page.summary | markdown(inline=true) | safe }}...
          {%- elif page.description %}
            {{ page.description | safe }}...
          {%- elif page.content %}
            {{ page.content | striptags | truncate(length=64) | safe }}
          {%- endif %}
          </div>


      </li>


  {% endfor %}
</ul>
<p class="viewall">→ View all <a href="/blog">articles</a></p>
{% endblock content %}
